@charset "UTF-8";

#maincontent {
	background-color: #05203c;
	width: 100%;
	margin-bottom: 20px;
}

#inputroute {
	display: flex;
	padding-bottom: 20px;
}

.inputcontent {
	height: 80px; margin: 0 auto; background-color: white;
	border-radius: 20px 20px 20px 20px;
	width: 16.3%; box-sizing: border-box;
	padding: 10px;
}

@media ( min-width : 1000px){
	.inputcontent:first-child {
		margin-left: 0;
		border-radius: 20px 0px 0px 20px;
	}
	.inputcontent:nth-child(2)  {
		border-radius: 0px 0px 0px 0px;
	}
	.inputcontent:nth-child(3)  {
		border-radius: 0px 0px 0px 0px;
	}
	.inputcontent:nth-child(4)  {
		border-radius: 0px 0px 0px 0px;
	}
	.inputcontent:nth-child(5)  {
		border-radius: 0px 20px 20px 0px;
	}
	.inputcontent:last-child  {
		margin-right: 0;
	}
}

#trip {
	color: white; padding-bottom: 20px;
}

.inputcontent label {
	font-size: 110%; font-weight: bold; color: gray; display: block;
}

.inputcontent .content-input {
	border: 0; /* border-bottom: 1px solid gray; */ height: 30px; outline: none; font-size: 120%;
}
.inputcontent:hover .content-input {
	border: 3px solid black; box-sizing: border-box;
}

.rollbanner {
	position:relative; width: 100%; height: 500px; overflow:hidden;
}

.mainbanner2 {
	position:absolute; width: 500%; height: 500px;  margin: 0 auto; 
}

.mainbanner2 img {
	float:left; height: 500px; width: 20%;
}

.bestimg {
	display: flex; width: 100%; height: 300px;
}

.bestcontent {
	border: 1px solid blue; margin-left: 2%; width: 23%; position: relative;
	box-sizing: border-box; border-radius: 10px 10px; overflow: hidden;
	cursor: pointer;
}
.bestimg .bestcontent:first-child {
	margin-left: 0;
}
.bestimg .bestcontent:last-child {
	margin-right: 0;
}
.detailimg	{
	height: 60%;
	overflow: hidden;
}

.detailimg img {
	width: 100%; height: 100%;
}
.bestcontent:hover>.detailimg>img {
	transform: scale(1.4);
	transition: all 1s;
}
.bestcontent:hover>.detailtext {
	background-color: #E2E2E2;
}

.bestcontent:not(hover)>.detailimg>img {
    transition: 0.5s ease-out;
}
.bestcontent:not(hover)>detailtext {
   background-color: white;
}

.detailtext {
	height: 40%; text-align: center;
}
.detailtext>h3,h4 {
	margin: 0;
	line-height: 60px;
	display: block;
}

.board_div {
	border-bottom: 1px solid #D3D3D3; padding: 20px 0; 
	font-size: 120%; cursor: pointer;
}

.board_div:hover {
	background-color: #E2E2E2;
}

.board_div span {
	display: inline-block;
}

.board_div span:first-child {
	width: 20%;
	margin-left: 5%;
}

.board_div span:nth-last-child(2){
	width: 60%;
}

















